body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}
.navigation-ribbon {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(15, 23, 42, 1);
    backdrop-filter: blur(10px);
    padding: 10px 0;
    z-index: 1000;
}
.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    margin: 0;
}
.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.nav-links a:hover {
    color: #38bdf8;
}
.page-header {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-btn {
    background-color: white;
    padding: 5px;
    margin: 0;
}
.video-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}
.main-container h2 {
    margin-bottom: 50px;
    font-weight: bold;
    text-decoration: underline;
}
.project-card, .skills-section, .about-preview {
    margin-bottom: 100px;
}

